.main-grid-container {
    display: grid;
    grid-template-areas:
      'header header header'
      'main main main'
      'footer footer footer';
    text-align: center;
}

.header {
    grid-area: header;
    padding: 5px;
}

.left {
    grid-area: left;
    padding: 5px;
}

.main {
    grid-area: main;
    padding: 5px 100px;
}

.right {
    grid-area: right;
    padding: 5px;
}

.footer {
    grid-area: footer;
    padding: 5px;
}


body {
    background-color: #69F7BE;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#meter-wrapper {
    position: relative;
    width: 100%
}

#meter{
    z-index: -2;
    position: absolute;
    width: 75%;
    top: 30%;
    left: 12%;
}

#meter-indicator{
    z-index: -1;
    position: absolute;
    width: 15%;
    top: 22%;
    left: 20%;
}


#button{
    position: absolute;
    width: 10%;
    top: 120%;
    left: 45%;
}



/* Outlined text courtesy of https://stackoverflow.com/questions/4919076/outline-effect-to-text */
.text-outlined {
    color: white;
    text-shadow: black 1px 1px 3px;
    -webkit-font-smoothing: antialiased
}

.text-absolute {
    position: absolute;
}

.shadowed {
    box-shadow: 3px 3px 5px black;
}