body {
    background-color: #69F7BE;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Outlined text courtesy of https://stackoverflow.com/questions/4919076/outline-effect-to-text */
.text-outlined {
    color: white;
    text-shadow: black 1px 1px 3px;
    -webkit-font-smoothing: antialiased
}

.text-absolute {
    position: absolute;
}

.shadowed {
    box-shadow: 3px 3px 5px black;
}


.main-grid-container {
    display: grid;
    grid-template-areas:
      'header header header'
      'main main main'
      'footer footer footer';
    text-align: center;
}

.header {
    grid-area: header;
    padding: 5px;
}

.left {
    grid-area: left;
    padding: 5px;
}

.main {
    grid-area: main;
    padding: 25px 150px ;
}

.right {
    grid-area: right;
    padding: 5px;
}

.footer {
    grid-area: footer;
    padding: 5px;
}

#meter-container {
    position: relative;
    width: 700px;
    height: 100px;
    background-image: url(resources/img/temp-meter.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
  }
  
#meter-indicator {
    position: absolute;
    width: auto;
    height: 150px;
    left: -30px;
    bottom: -25px;
}


