body {
    background-color: #69F7BE;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Outlined text courtesy of https://stackoverflow.com/questions/4919076/outline-effect-to-text */
.text-outlined {
    color: white;
    text-shadow: black 1px 1px 3px;
    -webkit-font-smoothing: antialiased
}

.main-grid-container {
    display: grid;
    grid-template-areas:
      'header header header header'
      'left main main right'
      'footer footer footer footer';
    text-align: center;
}

.header {
    grid-area: header;
}

.left {
    grid-area: left;
    padding: 5px;
}

.main {
    grid-area: main;
}

.right {
    grid-area: right;
    padding: 5px;
}

.footer {
    grid-area: footer;
    padding: 5px;
}


#meter-container {
    z-index: 1;
    position: relative;
    width: 700px;
    height: 100px;
    background-image: url(resources/img/temp-meter.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px auto;
  }
  
#meter-indicator {
    position: absolute;
    width: auto;
    height: 150px;
    left: -40px;
    bottom: -25px;
}

#order-ticket {
    position: absolute;
    width: auto;
    height: 150px;
    left: -40px;
    bottom: -70px;
}

#button {
    position: absolute;
    width: 150px;
    height: auto;
    margin: 25px;
    left: 200px;
    bottom: -10px;
}


#stove-container {
    position: relative;
    width: 629px;
    height: 563px;
    background-image: url(resources/img/stovetop.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
  }


#pan {
    position: absolute;
    width: 900px;
    height: auto;
    margin: 25px;
    left: 60px;
    bottom: 190px;
}


.steak{
    position: absolute;
    width: 300px;
    height: auto;
    margin: 25px;
    left: 150px;
    bottom: 220px;
}


#score-container{
    z-index: -1;
    position:relative;
    margin: auto;
}

#score-board{
    width: 300px;
    height: auto;
    background-color:black;
    border: 5px solid;
    border-color: white;
    border-radius: 10px;
    padding: 3px;
    margin: auto;
}


#gordon{
    z-index: -1;
    position: relative;
    width: 300px;
    height: auto;
    margin: auto;
}


